body {
    background-color: #FEF9EF;
    font-family: "Poppins", sans-serif;
    color: black;
  }

/* Start Home Page */


/* End Home Page */

/* Start login page */
#font{
    color: #2E8BC0  ;
  }

  #font2{
   color: #05445E  ;
  }

  #postion {
  position: absolute;
left: 400;
width: 400px;
  }

  .mainWindow {
    height: 500px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
    background-color: #FEE440;
    border-radius: 30px;
    padding: 20px;
}

h1 {
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.formWindow {
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

#btnSignIn {
    background-color: #FF865E;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#btnSignUp {
    background-color: #A2D2FF;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    float: right;
}

.lblPassword {
    font-weight: bold;
    padding-top: 30px;
}

.lblUsername {
    font-weight: bold;
}

/* End login page */

/* Start Register page */

  /* End Register page */

  /* Start Find Events Page */
  .eventWindow {
    height: 750px;
    width: 900px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
}
.eventWindowWrap { padding: 10px; }
.eventHeader { height: 50px; border-bottom: 1px solid #c0c0c0; }
.eventCity {
    margin: auto; padding: auto; text-align: center; font-size: 26px; font-weight: bold;
}

.eventFilter {
    overflow: hidden;
    margin: 20px 0px auto 0px;
    position: relative;
    width: auto;
    float: left;
}

.eventFilter ul {
    list-style: none;
}

.eventFilter ul li{
    padding: 2px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
}

.eventPhoto {
    width: 550px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto 0 70px;
    position: relative;
    top: 15px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #c0c0c0;
    float: left;
}
.eventPhoto img {
    width: 550px;
    height: 350px;
}
.eventInfo {
    padding: 15px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    float: left;
}
.eventDetails { font-family: 'Helvetica', sans-serif; }
.eventDetails .fa-users {
    color: #c0c0c0;
    float: right;
    position: relative;
    font-size: 24px;
    padding: 12px;
}
.fa-info {
    color: #3788d4;
    position: relative;
    font-size: 24px;
    padding-left: 10px;
}

.no {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 57px;
    left: 25px;
    border: 10px solid #f0f0f0;
    margin: 0px 410px 0px 200px;
}
.no i {
    color: #ff695b;
    font-size: 80px;
    padding: 10px 23px;
}

.yes {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 55px;
    left: 0px;
    border: 10px solid #f0f0f0;
    margin: 0px 0px 0px 0px;
}
.yes i {
    color: #5de19c;
    font-size: 60px;
    padding: 25px 20px;
}

  /* End Find Events page */