
  <!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      
      <main>
        <section class="services-area">
        <div class="row mb-5">
      
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h1>Find awesome events tailored to your interest!</h1>
          </div>
        </div>
        
        <div class="row mb-5">
        <div class="col-lg-8 col-md-10 col-sm-6">
         <img src="Assets/images/Why.png" class="img-fluid">
      
        <ul>
            <li>All the festivals and events happening around you are now in one place</li>
            <img src="Assets/images/landing_box.png" class="img-circle">
            <p></p>
         </ul>
         </div>
        </div>
        
        </section>
      </main>
    </div>
  </div>
</div>