
  <!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      
      <h1><%= title %></h1>

      <main>
        <section class="services-area">
        
        <!-- Featured image -->
        <div class="row mb-5">
      
          <div class="col-lg-8 col-md-8 col-sm-6">
            <h1>Find awesome events tailored!</h1>
            <br>
            <p>Easily create surveys and let others answer or answer surveys made by others</p>
            <ul>
              <li>Create your own multiple choice and true or false surveys for free</li>
              <li>Answer surveys made by other users before they expire</li>
              <li>View statistics about your surveys</li>
            </ul>
          </div>
        </div>
        </section>
      </main>
    </div>
  </div>
</div>