
  <!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      
      <main>
        <section class="services-area">
        
        <!-- Featured image -->
        <div class="row mb-5">
      
          <div class="col-lg-8 col-md-8 col-sm-6">
            <h1>Find awesome events tailored to your interest!</h1>
            <br>
            <img src="Assets/images/Why.png" class="img-fluid">
          </div>
        </div>
        </section>
      </main>
    </div>
  </div>
</div>