
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel='stylesheet' href='/Content/login.css' />
  <body>
        <div class="mainWindow">
            <h1 class id="signInTitle">Sign In</h1>
            <div class="formWindow">
                <form method="POST" autocomplete="off">

                <fieldset class="log-group">
                  <label for="userName" class="lblUsername">Username: </label>
                  <input type="text" class="form-control"
                  name="userName" placeholder="Enter username"
                  id="userName" required autofocus>
                </fieldset>

                <fieldset class="log-group">
                  <label for="password" class="lblPassword">Password: </label>
                  <input type="password" class="form-control"
                  name="password" placeholder="Enter password"
                  id="password" required>
                </fieldset>
                <br><br>

                <fieldset class="log-group">
                  <input type="submit" class="btn btnSignIn" value="Login">
                  <input type="button" class="btn btnSignUp" value="Sign Up">
                </fieldset>
                </form>
        </div>
  </body>
