        <!-- Header Section -->
<%- include('../components/header.ejs'); %>
  
  <!-- Main Navigation Section -->
    <%- include('../components/main_nav.ejs'); %>

        <div class="mainWindow">
            <h1 class id="signInTitle">Sign In</h1>
            <div class="formWindow">
                <form method="POST" autocomplete="off">

                <fieldset class="log-group">
                  <label for="userName" class="lblUsername">Username: </label>
                  <input type="text" class="form-control"
                  name="userName" placeholder="Enter username"
                  id="userName" required autofocus>
                </fieldset>

                <fieldset class="log-group">
                  <label for="password" class="lblPassword">Password: </label>
                  <input type="password" class="form-control"
                  name="password" placeholder="Enter password"
                  id="password" required>
                </fieldset>
                <br><br>

                <fieldset class="log-group">
                  <input type="button" onclick="getInputValue()" class="btn" id="btnSignIn" value="Login">
                  <input type="button" class="btn" id="btnSignUp" value="Sign Up">
                </fieldset>
                </form>
        </div>

<!-- Bottom Navigation Section -->
    <%- include('../components/bottom_nav.ejs'); %>
  
    <!-- JavaScript Section -->
<%- include('../components/footer.ejs'); %>
